body {
    margin: 0px;
    color: white;

}
header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    background-color: white;
    border-bottom: 1px lightgray solid;
    align-items: center;
    font-family: sans-serif;
    color: #6a6a6a;
    z-index: 3;
}

header div img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
header div {
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 50px;
}

#cv {
    color: inherit;
    font: inherit;
	outline: inherit;
    background-color: white;
    border : 2px #6a6a6a solid;
    width : 200px;
    padding : 0vw;
    margin-right: 4vw;
    height: 38px;
    font-weight: 700;
    text-transform:uppercase;
    cursor: pointer;
    top: 0;
}

#header-name {
    margin-left: 2vw;
    font-size: 17px;
}


article {
    width: 100%;
    height: 100vh;
}

#first {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    position: relative;
}
#first::before {
    content: "";
    display: block;
    position: fixed;
    height: 100%;
    width: 110%;
    margin-left: -10px;
    left: 0;
    right: 0;
    background-image: url("intro.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    z-index: -1;

}
#first div {    
    z-index: 2;
}

#second {
    background-color: white;
}









#last {
    background-color: black;
}