html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    color: white;
    font-family: "Helvetica";
    background: white;
    overflow-x:hidden;
}

a {
    color: #02aeec;
}
a:hover {
    color: #04649f;
}
header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    background-color: white;
    border-bottom: 1px lightgray solid;
    align-items: center;
    color: #6a6a6a;
    z-index: 3;
}

header div img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
header div {
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 50px;
}

button {
    color: inherit;
    font: inherit;
	outline: inherit;
    background-color: white;
    border : 2px #6a6a6a solid;
    width : 200px;
    padding : 0vw;
    margin-right: 4vw;
    height: 38px;
    font-weight: 700;
    text-transform:uppercase;
    cursor: pointer;
    top: 0;
    color: #6a6a6a;
    transition: 0.35s;
}

button:hover {
    background-color: black;
    color: white;
}

#header-name {
    margin-left: 2vw;
    font-size: 17px;
}


section {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
}

#introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#introduction::before {
    content: "";
    display: block;
    position: fixed;
    height: 100%;
    width: 102%;
    margin-left: -10px;
    left: 0;
    right: 0;
    background: radial-gradient(#000000ab, #00000000),url("img/intro.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    transition-duration: 1.3s;
}
#introduction:hover::before {
    filter: blur(5px);
    width: 103%;
    height: 103%;

}
#introduction div {    
    text-align: center;
    width: 37%;
}

#introduction div h3 {
    text-align: justify;
    font-size: 1.2em;
    font-weight: 100;
}
#introduction div h1 {
    font-size: 3em;
    letter-spacing: 5px;
    font-weight: 100;
}

#portfolio-section {
    background-color: rgb(243, 243, 243);
    align-items: center;
    padding-top: 5vh ;
}

#portfolio-section h1 {
    text-align: center;
    margin-bottom: 6vh;
    font-size: 2.9em;
    color: #6a6a6a;
    letter-spacing: 5px;
}

#portfolio {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}


article {
    background-color: white;
    border: 1px #6a6a6a solid;
    border-radius: 5px;
    padding: 1vw;
    transition: 0.5s;
    text-align: center;
    color: #6a6a6a;
}
article:hover {
    transform: scale(115%);
    z-index: 2;
}

article h2 {
    margin: 10px;
}

article img {
    width: 26vw;
}
article p {
    width: 26vw;
    margin: 0;
    text-align: justify;
    white-space:pre-wrap;
}
article ul {
    display: flex;
}
 
.tags {
    border: none;
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 6px;
    margin-right: 3px;
    margin-left: 3px;
    font-size: 0.9em;
    min-width: 50px;
    place-content: center;
    border-radius: 10px;
    text-transform:none;
    border: 1px #6a6a6a solid;
    font-weight: 600;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links img {
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: block;
}


.links {
    margin-top: 20px;
    display: flex;
    justify-content:space-evenly;
}




#contact {
    background-color: black;
}
#contact h1 {
    margin:0;
    font-size: 3em;
    letter-spacing: 5px;
    padding-top: 6vh;
    padding-left: 7vh;
}
#addresse{
    padding-top: 6vh;
    padding-bottom: 4vh;
    padding-left: 7vh;
    padding-right: 6vh;
    display: flex;
    width:auto;
    justify-content: space-between;
    line-height: 8px;
}
#contact h3, #contact h2 {
    font-weight: 300;
}

#form {
    width: 50%;
    margin: auto;
    text-align: center;
}

input, textarea {
    display: block;
    background: #fff!important;
    border: 1px solid #6a6a6a;
    width: 90%;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 1vw;
    margin: 1vw;
    border-radius: 15px;
}
form {
    text-align: center;
}
#contact button {
    margin: auto;
    border-radius: 15px;
    color: #02aeec;
    margin-bottom: 5vh;
}


/*
    CSS de l'animation scroll up
*/

.section--hide {
    opacity: 0;
    transform: translateY(50px);
}

section {
    transition: transform 1s, opacity 0.7s;
}

@media only screen and (max-width: 800px) {
    #portfolio  {
        display: block;
        padding-top:3vh;
        padding-bottom: 3vh;
    }
    article {
        margin: 0 auto;
        width: 80vw;
        margin-top: 4vh;
    }
    article p {
        width: 90%;
    }
    ul {
        font-size: 0.7em;
        flex-wrap: wrap;
    }
    #introduction div {    
        text-align: center;
        width: 90%;
    }
    #introduction div h1 {
        letter-spacing: 2px;
    }    
    #addresse {
        flex-direction: column;
    }
}
@media only screen and (max-width: 500px) {
    header div img{
        width: 30px;
        height: 30px;
    }
    header div {
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding-right: 30px;
    }
    #cv {
        width: 90%;
        margin-right:10px ;
    }
    
}


/*
    Les couleurs pour les tags
*/

.node {
    background-color: rgb(71, 255, 55);
}
.express {
    background-color: rgb(14, 133, 34);
}
.socket {
    background-color: rgb(134, 51, 134);
}
.rest {
    background-color: orange;
}
.mongo {
    background-color: rgb(226, 230, 3);
}
.php {
    background-color: rgb(111, 0, 255);
}
.sql {
    background-color: black;
}