body {
    margin: 0px;
    color: white;
    font-family: "Helvetica";

}

a {
    color: #02aeec;
}
a:hover {
    color: #04649f;
}
header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    background-color: white;
    border-bottom: 1px lightgray solid;
    align-items: center;
    color: #6a6a6a;
    z-index: 3;
}

header div img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
header div {
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 50px;
}

#cv {
    color: inherit;
    font: inherit;
	outline: inherit;
    background-color: white;
    border : 2px #6a6a6a solid;
    width : 200px;
    padding : 0vw;
    margin-right: 4vw;
    height: 38px;
    font-weight: 700;
    text-transform:uppercase;
    cursor: pointer;
    top: 0;
    transition: 0.25s;
}

#cv:hover {
    background-color: black;
    color: white;
}

#header-name {
    margin-left: 2vw;
    font-size: 17px;
}


article {
    width: 100%;
    height: 100vh;
}

#first {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    position: relative;
}
#first::before {
    content: "";
    display: block;
    position: fixed;
    height: 110%;
    width: 110%;
    margin-left: -10px;
    left: 0;
    right: 0;
    background-image: url("intro.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    transition-duration: 1.3s;
}
#first:hover::before {
    filter: blur(10px);
    width: 112%;
    height: 112%;

}
#first div {    
    text-align: center;
    width: 37%;
}

#first div h3 {
    text-align: justify;
    font-size: 1.2em;
    font-weight: 100;
}
#first div h1 {
    font-size: 3em;
    letter-spacing: 7px;
    font-weight: 100;
}
#second {
    background-color: white;
}









#last {
    background-color: black;
}